<!DOCTYPE html>
<html>
  <head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Wellington Fireplace</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="/bundle.js"></script>
  <link rel='stylesheet' type='text/css' href='../styles/styles.css'></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div  id="quotation">
	<form id="customer-form">
	   Date:
	   <input type="date" id="date"><br>
	   Name :
	   <input type="text" id="customer-name" value="" name="customer-name" class="customer" placeholder="Name and surname"/><br>
	   Email:
	   <input type="email" id="customer-email" value="" name="customer-email" class="customer" placeholder="A.N.Other@none.com"/><br>
	   Phone number:
	   <input type="number" name="customer-phone" id="customer-phone" class="customer" placeholder="027 000 000"> <br>

		<div id="locationField">
		  <input id="autocomplete" placeholder="Enter your address"
				 onFocus="geolocate()" type="text"></input>
		</div>

		<table id="address">
		  <tr>
			<td class="label">Street address</td>
			<td class="slimField"><input class="field" id="street_number"
				  disabled="true"></input></td>
			<td class="wideField" colspan="2"><input class="field" id="route"
				  disabled="true"></input></td>
		  </tr>
		  <tr>
			<td class="label">Suburb</td>
			<td class="wideField" colspan="3"><input class="field"
				  id="sublocality_level_1" disabled="true"></input></td>
		  </tr>
		  <tr>
			<td class="label">City</td>
			<td class="wideField" colspan="3"><input class="field" id="locality"
				  disabled="true"></input></td>
		  </tr>
		  <tr>
			<td class="label">Post code</td>
			<td class="wideField"><input class="field" id="postal_code"
				  disabled="true"></input></td>
		  </tr>
		</table>

	 <div id="salesman" class="wrapper"></div>

	</form>

	<button id="data-entry-button">Enter Data</button>
	<button class="edit-quotation-button" id="edit-quotation-button">View Quote</button>
	<button class="entry-salesman-button" id="entry-salesman-button">Enter Salesman</button>
	<button class="entry-hearth-button" id="entry-hearth-button">Enter Hearth</button>
	<button class="entry-flue-button" id="entry-flue-button">Enter Flue</button>

	<div id="air" class="wrapper">
	  <div id="clean-air" class="border-air-wetback" >Clean Air</div>
	  <div id="rural" class="border-air-wetback">Rural</div>
	  <div id="clean-air-wetback" class="border-air-wetback" >Clean Air wetback</div>
	  <div id="rural-wetback" class="border-air-wetback">Rural wetback</div>
	</div>

	<div id="fireplace" class=wrapper>
		<div id="gas" class="border-fireplace" value="gas">Gas</div>
		<div id="wood" class="border-fireplace" value="wood" >Wood</div>
		<div id="electric" class="border-fireplace" value="electric">Electric</div>
		<div id="multi-fuel" class="border-fireplace" value="multi-fuel">Multi-Fuel</div>
		<div id="biofuel" class="border-fireplace" value="biofuel">Biofuel</div>
		<div id="cooker"  class="border-fireplace" value="cookers">Cookers</div>
	</div>
	<div id="make" style='margin-top: 25px'>
	  <div id="jayline" class='border-make' value="Jayline">Jayline</div>
	  <div id="fisher" class='border-make' value="Fisher">Fisher</div>
	  <div id="gazco" class='border-make' value="Gazco">Gazco</div>
	  <div id="jetmaster" class='border-make' value="Jetmaster">Jetmaster</div>
	  <div id="escea" class='border-make' value="Escea">Escea</div>
	  <div id="living-flame"  class='border-make' value="living-flame">Living Flame</div>
	  <div id="bosca" class='border-make' value="Bosca">Bosca</div>
	  <div id="pyroclassic" class="border-make" value="pyroclassic">Pyroclassic</div>
	  <div id="metro" class='border-make' value="metro">Metrofires</div>
	  <div id="firenzo"  class='border-make' value="firenzo">Firenzo</div>
	  <div id="woodsman" class='border-make' value="woodsman">Woodsman</div>
	  <div id="quadra-fire" class='border-make' value="quadra-fire">Quadra-Fire</div>
	  <div id="esse" class='border-make' value="esse">Esse</div>
	  <div id="yunca" class='border-make' value="yunca">Yunca</div>
	  <div id="ethos" class='border-make' value="ethos">Ethos</div>
	  <div id="warmington" class='border-make' value="warmington">Warmington</div>
	  <div id="quadrafire" class='border-make' value="quadrafire">Quadrafire</div>
	  <div id="kent" class='border-make' value="kent">Kent</div>
	  <div id="stovax" class='border-make' value="stovax">Stovax</div>
	  <div id="mitsubishi" class='border-make' value="mitsubishi">Mitsubishi-electric</div>
	  <div id="beef-eater" class='border-make' value="beef-eater">Beef Eater</div>
	  <div id="ortal" class='border-make' value="ortal">Ortal</div>
	  <div id="heat-glo" class='border-make' value="heat-glo">Heat & Glo</div>
	  <div id="trendz"class='border-make'  value="trendz">Trendz</div>
	  <div id="bromic" class='border-make' value="bromic">Bromic Heating</div>
	  <div id="realfires"class='border-make'  value="realfires">Realfires</div>
	  <div id="the-bio-flame"class='border-make' value="the-bio-flame">The Bio Flame</div>
	  <div id="fogata" class='border-make'value="fogata">Fogata</div>
	  <div id="cast-iron-chiminea" class='border-make' value="cast-iron-chiminea">Cast iron chiminea</div>
	  <div id="the-fireplace" class='border-make'  value="the-fireplace">The Fireplace</div>
	</div>

	<div id="dropdown-selector">
	  <br>
		Model :<select class="quote-dropdown" id="model-dropdown"></select><br>
	  <br>
	  colour
		<div id="colour-price" class="wrapper">
		  <div id="colourPrice-extra" class="border-colour" ></div>
		  <div id="colourPrice-nocharge" class="border-colour">0.00</div>
		</div>

		Hearth
		<div id="hearth-style" class="wrapper">
		  <div id="hearth-corner" class="border-style-hearth">Corner Hearth</div>
		  <div id="hearth-wall" class="border-style-hearth">Wall Hearth</div>
		</div>

		<div id="display-hearth-make" style='margin-top: 25px'>Make:<br>
		  <div id="display-hearth-bosca" class='border-make-hearth-display' value="Bosca">Bosca</div>
		  <div id="display-hearth-pyroclassic"  class='border-make-hearth-display' value="pyroclassic">Pyroclassic</div>
		  <div id="display-hearth-metro" class='border-make-hearth-display' value="metro">Metrofires</div>
		  <div id="display-hearth-warmington" class='border-make-hearth-display' value="warmington">Warmington</div>
		  <div id="display-hearth-kent" class='border-make-hearth-display' value="kent">Kent</div>
		  <div id="display-hearth-stovax" class='border-make-hearth-display' value="stovax">Stovax</div>
		</div>

		Model :<select class="quote-dropdown" id="model-dropdown-hearth"></select><br>

		Additional tile cost:
	  <div id="hearth-tile-price" class="wrapper">
  		<div id="hearth-tile-extra" class="hearth-tile-border-colour" ></div>
  		<div id="hearth-tile-nocharge" class="hearth-tile-border-colour">0.00</div>
	  </div>

    Flue
    <div id="flue-style-wrapper" class="wrapper">
      <div id="flue-inbuilt" class="border-style-flue">Inbuilt</div>
      <div id="flue-freestanding" class="border-style-flue">Free Standing</div>
    </div>
    Style
    <div id="flue-source-wrapper" class="wrapper">
      <div id="custom" class="border-source-flue">Custom Flue</div>
      <div id="flue-freestanding" class="border-source-flue">Flue Kit</div>
    </div>
    Flue inner Size
    <div id="flue-inner-wrapper" class = "wrapper">
      <div id="flue-inner-100"class='border-flue-inner'>100</div>
      <div id="flue-inner-200"class='border-flue-inner'>200</div>
      <div id="flue-inner-300"class='border-flue-inner'>300</div>
      <div id="flue-inner-400"class='border-flue-inner'>400</div>
    </div>

		<div id='quotation-display-data'></div>
    <table>
      <tr>
  		    <td class='total-description'>Excl VAT total</td>
          <td class='total-value'> <div id='quotation-excl-total'></div>  </td>
      </tr>
      <tr>
          <td class='total-description'>VAT</td>
          <td class='total-value'> <div id='quotation-vat-total'></div> </td>
      </tr>
      <tr>
          <td class='total-description'>Grand Total</td>
          <td class='total-value'> <div id="quotation-grand-total"></div> </td>
      </tr>
    </table>
		<br>
		<textarea id="quotation-comments" class = "quotation-comments" placeholder="comments"  cols="100" rows="5"></textarea>
		<button class="quotation-submit-button" id="quotation-submit-button">Submit Quote</button>
		<br>
	</div>
  <div id ="add-quote-again" class="fa fa-thumbs-o-up" style="font-size:60px;"></div>
</div>

<!-- // /// //// /// -->
<!--end of quotation -->
<!-- // /// //// /// -->

<div id="edit-quotation" class="edit-quotation"></div>

<div id="fireplace-data-entry">
	<form>
		  <input type="text" id="input-model" placeholder="Model">
		  <input type="number" id="input-kw" placeholder="kw">
		  <input type="number" id="input-clean-air" placeholder="$ Clean-air">
		  <input type="number" id="input-clean-air-wb" placeholder="$ Clean air Wetback"><br>
		  <input type="number" id="input-rural" placeholder="$ Rural">
		  <input type="number" id="input-rural-wb" placeholder="$ Rural Wetback">
		  hearth:
		  <select id = "input-hearth">Make:
			<option type="radio" value="Ash">Ash</option>
			<option type="radio" value="Insulated">Insulated</option>
		  </select>

		  <input type="text" id="input-wall-hearth" placeholder="Wall hearth">
		  <input type="text" id="input-corner-hearth" placeholder="Corner hearth">

		  colour:
		  <select id="input-colour-available">
			<option type="radio" value="No">no</option>
			<option type="radio" value="Yes">yes</option>
		  </select>

			<input type="number" id="input-colour-price" placeholder="$ Colour">
			<div>
			  <button id="fireplace-data-submit">Submit Fireplace Data </button>
			  <button id="updated-data-submit">Update Data </button>
			  <button id="quotation-button" class="back-to-quotation">Back to quote!</button>
			  <button id="edit-data-button">Edit Fireplace Data</button>
			  <div id="data-submit-notification" class="submit-notification">Data submitted </div>
			</div>
	</form>
</div>
<div id="edit-data"></div>

<div id="edit-quotation-data">
  <div id="back-to-quote" class="back-to-quotation">Back to quote</div>
</div>

<form id="edit-salesman-data">
  Name :
  <input type="text" id="salesman-name" class="salesman-name" placeholder="Name and surname"/><br>
  Email:
  <input type="email" id="salesman-email"  class="salesman-email" placeholder="A.N.Other@none.com"/><br>
  Phone number:
  <input type="number"  id="salesman-phone" class="salesman-phone" placeholder="027 000 000"/> <br>
  Active:
    <input type="radio"  id="salesman-active" class="salesman-active"/>
    <br>
  <div id="salesman-submit-notification" class="submit-notification">Data submitted</div>
  <div>
    <button id="submit-salesman-button" class ="submit-salesman-button">Salesman data submit </button>
    <button id="salesman-back-to-quotation" class="back-to-quotation">Back to quote</button>

    <button id="edit-salesman-button" class = "edit-salesman-button">Edit Salesman </button>
  </div>
</form>

<div id="edit-salesman"></div>

<div id="enter-hearth-data">
  <div id="hearth-make" style='margin-top: 25px'>Make:<br>
    <div id="hearth-bosca" class='border-make-hearth' value="Bosca">Bosca</div>
    <div id="hearth-pyroclassic"  class='border-make-hearth' value="pyroclassic">Pyroclassic</div>
    <div id="hearth-metro" class='border-make-hearth' value="metro">Metrofires</div>
    <div id="hearth-warmington" class='border-make-hearth' value="warmington">Warmington</div>
    <div id="hearth-kent" class='border-make-hearth' value="kent">Kent</div>
    <div id="hearth-stovax" class='border-make-hearth' value="stovax">Stovax</div>
  </div>

  <input type="text" id="input-model-hearth" placeholder="Model"/>
  Hearth :
  <select id='hearth-style'>
    <option class="hearth-corner">Corner Hearth</option>
    <option class="hearth-wall">Wall Hearth</option>
  </select>
  Finish:
  <select id='hearth-finish'>
    <option class="hearth-finish">Steel</option>
    <option class="hearth-finish">Smoked Glass</option>
    <option class="hearth-finish">Options</option>
    <option class="hearth-finish">Galaxy</option>
    <option class="hearth-finish">Champagne</option>
  </select>
Standard Finish price:
  <input type="number" id="input-price-hearth" placeholder="$ price"/>
  Additional Finish:
    <select id='input-additional-finish-hearth'>
      <option class="additional-hearth-finish">Yes</option>
      <option class="-additional-hearth-finish">No</option>
    </select>
  Additional Finish Price:
  <input type="number" id="input-price-hearth-add-finish" placeholder="Additional finish $"/>

  <div>
    <button id="hearth-data-submit">Submit Hearth Data </button>
    <button class="back-to-quotation">Back to quote</button>
    <button id="edit-hearth-button">Edit Hearth Data</button>
    <div id="data-submit-notification-hearth" class="submit-notification">Data submitted </div>
  </div>

</div>

<div id="edit-hearth-view"></div>

<div id="enter-flue-data">
    <form class="enter-flue-data">
    Fuel
    <select id="flue-fuel">
      <option  class='flue-border-fuel' >Wood</option>
      <option class='flue-border-fuel'>Gas</option>
    </select>
   <br>
    Inbuilt / FreeStanding
    <select id="flue-style">
      <option  class='flue-border-style'>Inbuilt</option>
      <option class='flue-border-style'>Free standing</option>
    </select>
      <br>
  <br>Flue finish
    <select id='flue-finish'>
      <option class="flue-border-finish" selected disabled></option>
      <option class="flue-border-finish" value ="Galv">Galv</option>
      <option class="flue-border-finish" value ="S/S">S/S</option>
      <option class="flue-border-finish" value ="Met Black">Met Black</option>
      <option class="flue-border-finish" value="Pewter">Pewter</option>
    </select>
  Kit / Custom
    <select id="flue-source" >
      <option class='flue-border-source'>Custom</option>
      <option class='flue-border-source'>Kit</option>
    </select>
  <br>

  Entering options
  <select id="flue-enter-options" style='margin-top: 25px'>
    <option class='enter-options' selected disabled></option>
      <option class='enter-options'>Inner flue</option>
      <option class='enter-options'>Outer flue</option>
      <option class='enter-options'>Flue liner</option>
      <option class='enter-options'>Cowel</option>
      <option class='enter-options'>Spider</option>
      <option class='enter-options'>Guides</option>
  </select>

Inner flue diamater
    <select id="flue-inner" style='margin-top: 25px'>
      <option class='flue-inner'></option>
      <option class='flue-inner'>100</option>
      <option class='flue-inner'>200</option>
      <option class='flue-inner'>300</option>
      <option class='flue-inner'>400</option>
    </select>
  <div id="flue-inner-options">
    <br>
    Flue Inner Price :<input type="number" id="flue-inner-price" placeholder="Price $$"/>
    <button id="flue-inner-submit" class="submit-flue-data">Submit Flue-inner</button>
  </div>


  <div id="flue-outer-options">
  Flue Size outers
      <select id='flue-outer'>
        <option class="flue-outer"></option>
        <option class="flue-outer">1.2m</option>
        <option class="flue-outer">4.0m</option>
        <option class="flue-outer">4.2m</option>
        <option class="flue-outer">4.75m</option>
        <option class="flue-outer">4.8m</option>
      </select>
    Flue Outer Price :<input type="number" id="flue-outer-price" placeholder="Price $$"/>
      <button id="flue-outer-submit" class="submit-flue-data">Submit Flue-outer</button>
    </div>

    <div id="flue-liner-options">
    Liners
      <select id="flue-liners" style='margin-top: 25px'>
        <option class='flue-liners'></option>
        <option class='flue-liners'>100</option>
        <option class='flue-liners'>200</option>
        <option class='flue-liners'>300</option>
        <option class='flue-liners'>400</option>
      </select>
      Flue Liner Price :<input type="number" id="flue-liner-price" placeholder="Price $$"/>
        <button id="flue-liner-submit" class="submit-flue-data">Submit Flue-liner</button>
      </div>
      <div id="flue-cowel-options">
      Cowel
        <select id="flue-cowel" style='margin-top: 25px'>
          <option class='flue-cowel'></option>
          <option class='flue-cowel'>100</option>
          <option class='flue-cowel'>200</option>
          <option class='flue-cowel'>300</option>
          <option class='flue-cowel'>400</option>
        </select>
        Flue Cowel Price :<input type="number" id="flue-cowel-price" placeholder="Price $$"/>
          <button id="flue-cowel-submit" class="submit-flue-data">Submit Cowel</button>
        </div>
   <div id="flue-spider-options">
    	  Spider
        <select id="flue-spider" style='margin-top: 25px'>
          <option class='flue-spider'></option>
          <option class='flue-spider'>100</option>
          <option class='flue-spider'>200</option>
          <option class='flue-spider'>300</option>
          <option class='flue-spider'>400</option>
        </select>
        Flue Spider Price :<input type="number" id="flue-spider-price" placeholder="Price $$"/>
          <button id="flue-cowel-submit" class="submit-flue-data">Submit Spider</button>
    </div>

   <div id="flue-guides-options">
  	  Guides
      <select id="flue-guides" style='margin-top: 25px'>
        <option class='flue-guides'></option>
        <option class='flue-guides'>100</option>
        <option class='flue-guides'>200</option>
        <option class='flue-guides'>300</option>
        <option class='flue-guides'>400</option>
      </select>
      Flue Spider Price :<input type="number" id="flue-guides-price" placeholder="Price $$"/>
        <button id="flue-guide-submit" class="submit-flue-data">Submit Guide</button>
      </div>
  </form>
  <button class="back-to-quotation">Back to quote</button>
  <div style="border: orange 1px solid">
    <select id="flue-edit-options">
      <option class='enter-options' selected disabled></option>
        <option class='enter-options'>Inner flue</option>
        <option class='enter-options'>Outer flue</option>
        <option class='enter-options'>Flue liner</option>
        <option class='enter-options'>Cowel</option>
        <option class='enter-options'>Spider</option>
        <option class='enter-options'>Guides</option>
    </select>
      <button id="edit-flue-button">Edit Flue Data</button>
  </div>
    <div>
      <div id="data-submit-notification-flue" class="submit-notification">Data submitted </div>
    </div>
</div>
<div id='edit-flue-view'>
  <table>
    <tr>
      <th class='table-header'></th>
      <th class='table-header'>Entry Option</th>
      <th class='table-header'>Fuel</th>
      <th class='table-header'>Style</th>
      <th class='table-header'>Finish</th>
      <th class='table-header'>Kit/Custom</th>
      <th class='table-header'>Inner flue diamater</th>
      <th class='table-header'>Size</th>
      <th class='table-header'>Price</th>
    </tr>
   </table>
<div id='edit-flue-table'></div>
</div>
<!--  setting the address -->
    <script>
      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
		    sublocality_level_1 : 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
	<!-- Hide address after hitting enter-->
	<script>
	$(function() {

		$("#autocomplete").keyup(function (e) {
			if(e.which === 13) {
				$("#autocomplete").hide();
			}
		});
	});
	</script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa_og4BGPFke8eLA6IROOGEzNyT4tQmCg
&libraries=places&callback=initAutocomplete"
        async defer>
    </script>
  </body>
</html>
