.border-salesman {
    border: 1px solid #B39476;
}

.border-air {
    border: 1px solid #B39476;
}

.border-fireplace{
    border: 1px solid #B39476;
}

.selected{
   background-color: #756658;
   color: #E6E0BE
}


table {
    border: 1px solid black;
}

td {
        border-right: 1px solid orange;
}

.x{
}
https://color.adobe.com/sinNat-Brown-2-color-theme-9178330/
