.border{
    border: 1px solid #B39476;
}

.selected{
   background-color: #756658;
   color: #E6E0BE
}

.table {
    width: 100%;
    border: 2px orange solid;
    margin: 20px 0px 20px 10px;
    padding-left: 30px;
    background: aliceblue;
}


.x{
}
https://color.adobe.com/sinNat-Brown-2-color-theme-9178330/
